@mixin flexible-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
  @include flexible-column();
  text-decoration: none;
  justify-content: center;
  color: #878686;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: #3a3a3a;
    }
  
  &:last-child {
    width: 150px;
    position: absolute;
    bottom: 0px;
  }
}

.sidebar-container {
  @include flexible-column();
  justify-content: space-between;
  background-color: #313131;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sidebar-wrapper {
  @include flexible-column();
  width: 150px;
  margin-top: 22px;
  justify-content: flex-start;
  color: #a3a0a0;
  height: 100%;
}

.side-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-selected {
  position: absolute;
  top: 29px;
  right: 0px;
  background-color: none;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid rgb(249, 249, 251);
}

.side-selected {
  position: absolute;
  top: 29px;
  right: 0px;
  background-color: none;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid rgb(249, 249, 251);
}