@mixin flexible-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  @include flexible-column();
  text-decoration: none;
  justify-content: center;
  color: #878686;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  cursor: pointer;
  position: relative;
  background-color: #3a3a3a;

  &:last-child {
    width: 150px;
    position: absolute;
    bottom: 0px;
  }
  &::after {
    position: absolute;
    top: 27px;
    right: 0px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 7px 7.5px 0;
    border-color: transparent #f8f9fa transparent transparent;
  }
}

.sidebar-item {
  @include flexible-column();
  text-decoration: none;
  justify-content: center;
  color: #878686;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: #3a3a3a;
  }

  &:last-child {
    width: 150px;
    position: absolute;
    bottom: 0px;
  }
}

.sidebar-container {
  @include flexible-column();
  justify-content: space-between;
  background-color: #313131;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sidebar-wrapper {
  @include flexible-column();
  width: 150px;
  margin-top: 22px;
  justify-content: flex-start;
  color: #a3a0a0;
  height: 100%;
  position: relative;
}

.side-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
