.content-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 130px 1fr;
  padding: 20px;
  gap: 20px;
}

.cards {
  display: flex;
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grap {
  display: flex;
  flex-direction: column;
  color: black;
}

.linear {
  height: 50%;
}

.donut {
  height: 50%;
}

.transa {
  background-color: yellow;
}

.header-graph-line {
  display: flex;
  justify-content: space-between;
  &>p{
    font-weight: 700;
  }
}
.header-graph-doughnut{
  display: flex;
  justify-content: space-between;
  &>p{
    font-weight: 700;
  }
}
.line-day-list {
  display: flex;
  list-style: none;
  cursor: pointer;
  &>li {
    padding-left: 5px;

    &.active {
      color: red;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
.content-graph-doughnut{
  display: grid;
  grid-template-columns: 50% 50%;
}