@mixin padding {
  padding:20px;
}

.content-wrapper {
  display: grid;
  grid-template-rows: 130px 1fr;
  padding: 20px;
}

.cards {
  display: flex;
  height: 100%;
}
.money-wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
}
.linear-wrapper {
  @include padding;
}

.donut-wrapper {
  @include padding;
}

.transaction-wrapper {
  @include padding;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}


.header-graph-line {
  display: flex;
  justify-content: space-between;
  &>p{
    font-weight: 700;
    letter-spacing: 2px;
  }
}
.header-graph-doughnut{
  display: flex;
  justify-content: space-between;
  &>p{
    font-weight: 700;
    letter-spacing: 2px;
  }
}
.line-day-list {
  display: flex;
  list-style: none;
  cursor: pointer;
  &>li {
    padding-left: 20px;

    &.active {
      color: #ec8d90;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
.content-graph-doughnut{
  display: grid;
  grid-template-columns: 50% 50%;
}