@mixin flexible-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin border-radius-settings-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
@mixin border-radius-settings-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
$color-logo: #f7f3f3;
$color-text: #878686;
$color-bg-header: #2c2c2c;
$color-bg-bt-header: #3f3f3f;
$header-font-size: 12px;
$header-active-item-bg: #afafaf;

.header-wrapper {
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-header;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-main-layout {
  @include flexible-space-between();
  height: 40px;
  width: 98%;
}

.header-logo-ref {
  @include flexible-space-between();
  text-decoration: none;
  width: 120px;
  font-size: 14px;
}

.header-logo {
  color: $color-logo;
  font-weight: 900;
}

.header-saparate-logo {
  width: 2px;
  height: 20px;
  background-color: $color-logo;
}

.header-logo-web {
  color: $color-text;
  font-weight: 100;
}

.header-currency {
  font-size: 12px;
  font-weight: 600;
  color: $color-text;
  width: 300px;
}

.header-currency-items {
  width: 75px;
}

.header-currency-items,
.header-currency-list,
.header-settings-list,
.header-user {
  @include flexible-space-between();
}

.header-slash {
  width: 2px;
  height: 15px;
  background-color: $color-text;
  transform: rotate(30deg);
  list-style-type: none;
}

.header-settings-list {
  list-style-type: none;
  font-size: $header-font-size;
  color: $color-text;
}

.header-settings-item {
  background-color: $color-bg-bt-header;
  padding: 5px 10px;
  margin-left: 1px;
  text-decoration: none;
  &:first-child {
    @include border-radius-settings-left();
  }
  &:last-child {
    @include border-radius-settings-right();
  }
}

.header-settings-item-active {
  background-color: $header-active-item-bg;
  padding: 5px 10px;
  margin-left: 1px;
  text-decoration: none;
  &:first-child {
    @include border-radius-settings-left();
  }
  &:last-child {
    @include border-radius-settings-right();
  }

  & span {
    text-decoration: none;
    color: $color-bg-header;
  }
}

.header-settings-item span {
  text-decoration: none;
  color: $header-active-item-bg;
}

.header-user {
  width: 70px;
}

.header-user-grats {
  color: $color-text;
  font-size: $header-font-size;
  margin-right: 10px;
  position: absolute;
  left: 15px;
}

.header-search {
  width: 100px;
  background-color: $color-bg-header;
}

.header-avatar-container img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
}

.header-search,
.header-right-search-avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.search-logo {
  z-index: 1;
}

.header-input {
  border: none;
  border-radius: 25px;
  background-color: $color-bg-bt-header;
  margin-top: 5px;
  margin-left: -16px;
  width: 37px;
  height: 25px;
  margin-bottom: 6px;
  outline: none;
  transition: width 2s;
  padding-left: 20px;
  &:focus {
    width: 120px;
    background-color: $color-logo;
    color: $color-bg-header;
  }
}

.header-avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: -14px;
  margin-top: 7px;
}

.header-right-search-avatar {
  width: 230px;
}
