@mixin flexible-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

$color-text: #878686;
$color-bg-header: #2c2c2c;
$color-bg-bt-header: #3f3f3f;
$header-font-size: 12px;
$header-active-item-bg:#afafaf; 

.header-wrapper {
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bg-header;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-main-layout {
  @include flexible-space-between();
  height: 40px;
  width: 98%;
}

.header-logo-ref {
  @include flexible-space-between();
  text-decoration: none;
  width: 120px;
  font-size: 14px;
}

.header-logo {
  color: #f7f3f3;
  font-weight: 900;
}

.header-saparate-logo {
  width: 2px;
  height: 20px;
  background-color: #fff;
}

.header-logo-web {
  color: $color-text;
  font-weight: 100;
}

.header-currency {
  font-size: 12px;
  font-weight: 600;
  color: $color-text;
  width: 300px;
}

.header-currency-items {
  width: 75px;
}

.header-currency-items,
.header-currency-list,
.header-settings-list,
.header-user {
  @include flexible-space-between();
}

// .header-settings {
//   width: 320px;
// }

.header-settings-list {
  list-style-type: none;
  font-size: $header-font-size;
  color: $color-text;
}

.header-settings-item {
  background-color: $color-bg-bt-header;
  padding: 5px 10px;
  margin-left: 1px;
  text-decoration: none;
  &:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.header-settings-item-active {
  background-color: $header-active-item-bg;
  padding: 5px 10px;
  margin-left: 1px;
  text-decoration: none;
  &:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  & span {
  text-decoration: none;
  color: $color-bg-header;
  }
}

.header-settings-item span {
  text-decoration: none;
  color: $header-active-item-bg;
}

.header-user {
  width: 70px;
}

.header-user-grats {
  color: $color-text;
  font-size: $header-font-size;
  margin-right: 10px;
}

.header-search {
  width: 100px;
  background-color: $color-bg-header;
}

.header-avatar-container img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
}

.header-search,
.header-right-search-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.search-logo {
  padding-top: 3px;
  z-index: 1;
}

.header-input {
  border: none;
  border-radius: 25px;
  background-color: $color-bg-header;
  margin-left: -16px;
  width: 50px;
  margin-bottom: 6px;
  outline: none;
  transition: width 2s;
  padding-left: 20px;
  color: #fff;
  &:focus{
    width: 150px;
    background-color: #fff;
    color: #2c2c2c;
  }
}

.header-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  margin-left: -14px;
}
