@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  line-height: 1.6;

}

.wrapper {
  display:grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 40px 1000px;
  
}

div {
  display: block;
}

.header-wrapper {
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header-main-layout {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
 
}

.header-logo-ref {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 120px;
  font-size: 14px;
}

.header-logo {
  color: #f7f3f3;
  font-weight: 900;
}

.header-saparate-logo {
  width: 2px;
  background-color: #878686;
  height: 20px;
}

.header-logo-web {
  color: #878686;
  font-weight: 100;
}

.header-currency {
  font-size: 12px;
  font-weight: 300;
  color: #878686;
  width: 400px;
}

.header-currency-items {
  width: 100px;
}

.header-currency-items,
.header-currency-list,
.header-settings-list,
.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-settings {
  width: 320px;
}

.header-settings-list {
  list-style-type: none;
  font-size: 12px;
  color: #878686;
}

.header-settings-item {
  background-color: #313131;
  padding: 0px 7px;
}

.header-settings-item a {
  text-decoration: none;
  color: #878686;
}

.header-settings-item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.header-settings-item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header-user {
  width: 70px;
}

.header-user-grats {
  color: #878686;
  font-size: 12px;
}

.header-search {
  width: 100px;
  background-color: #313131;
}

.header-avatar-container img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
}

.header-search,
.header-right-search-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.search-logo {
  padding-top: 3px;
  z-index: 1;
}

.header-input {
  border: none;
  border-radius: 25px;
  background-color: #313131;
  margin-left: -16px;
  width: 50px;
  margin-bottom: 6px;
  outline: none;
}

.header-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  margin-left: -14px;
}

// sidebaritem / sidebarlist

.item-container {
  width: 100%;
  height: px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#878686;
  
}

.sidebar-container {
  width: 150px;
  background-color:#313131;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sidebar-wrapper{
  margin-top: 50px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color:#a3a0a0;
}

.side-image{
  display:flex;
  justify-content:center;
  align-items:center;
}
